@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 11px;
}
::-webkit-scrollbar-track{
    background:antiquewhite ;
}
::-webkit-scrollbar-thumb{
    background: #c5daf6;
    border-radius: 20px;
    border: 2px solid transparent;
}
 section{
    overflow: hidden;
 }